@using MiPrimeraAplicacionEnNetCore.Clases
@model IEnumerable<PersonaCLS>
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.iidPersona)</th>
            <th>@Html.DisplayNameFor(model=>model.nombreCompleto)</th>
            <th>@Html.DisplayNameFor(model=>model.email)</th>
            <th>@Html.DisplayNameFor(model=>model.nombreSexo)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonaCLS persona in Model)
        {
            <tr>
                <td>@persona.iidPersona</td>
                <td>@persona.nombreCompleto</td>
                <td>@persona.email</td>
                <td>@persona.nombreSexo</td>
            </tr>
        }
    </tbody>
</table>

