@using MiPrimeraAplicacionEnNetCore.Clases
@model IEnumerable<PersonaCLS>
@{
    ViewData["Title"] = "Index";

    List<SelectListItem> listaSexo = ViewBag.listaSexo;
}

<a class="btn btn-primary" asp-action="Agregar" asp-controller="Persona">Nuevo</a>
<form id="frmEnviar" asp-controller="Persona" asp-action="Index" method="post" style="display:grid; grid-template-columns:1fr 2fr 1fr 1fr" class="mb-2">
    <label>Ingrese el Sexo</label>
    @Html.DropDownList("iidSexo", listaSexo, new { @class="form form-control"})
    <input type="submit" class="btn btn-primary" value="Buscar" />
    <input type="button" class="btn btn-danger" value="limpiar" onclick="Limpiar()"/>
</form>
<table class="table" id="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.iidPersona)</th>
            <th>@Html.DisplayNameFor(model=>model.nombreCompleto)</th>
            <th>@Html.DisplayNameFor(model=>model.email)</th>
            <th>@Html.DisplayNameFor(model=>model.nombreSexo)</th>
            <th>
                Operaciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonaCLS persona in Model)
        {
            <tr>
                <td>@persona.iidPersona</td>
                <td>@persona.nombreCompleto</td>
                <td>@persona.email</td>
                <td>@persona.nombreSexo</td>
                <td>
                    <i class="fas fa-trash-alt btn btn-danger mouse-Pointer" onclick="EliminarPersona(@persona.iidPersona)">
                    </i>
                    <a class="fas fa-edit btn btn-primary mouse-Pointer" aria-hidden="true" asp-controller="Persona" asp-action="Editar" asp-route-id="@persona.iidPersona">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-controller="Persona" asp-action="Eliminar" method="post" id="frmEliminar">
    <input type="hidden" id="txtEliminar" name="iidPersona"/>
</form>

<script src="~/js/generic.js"></script>
<script src="~/js/sweetAlert.js"></script>

<script>
    window.onload = function(){
        $(document).ready( function () {
    $('#table').DataTable();
        });
    }
    


    function Limpiar() {
        document.getElementById("iidSexo").value = "";
        document.getElementById("frmEnviar").submit();
    }

    function EliminarPersona(iidPersona)
    {
        document.getElementById("txtEliminar").value = iidPersona;
        mostrarModal()
        .then( res=>{
            if(res.value){
                var frmEliminar = document.getElementById("frmEliminar");
                frmEliminar.submit();
            }
        })
    }

</script>

