@model IEnumerable<MiPrimeraAplicacionEnNetCore.Clases.TipoUsuarioCLS>

@{
    ViewData["Title"] = "Index";

    string nombre = ViewBag.Nombre;
    string descripcion = ViewBag.Descripcion;
    int  IidTipoUsuario = ViewBag.IidTipoUsuario;

}

<h1>Tipo Usuario</h1>
<hr />

<a class="btn btn-primary" asp-action="Agregar" asp-controller="TipoUsuario">Agregar</a>
<hr />
<form asp-controller="TipoUsuario" asp-action="Index">
    <input type="submit" value="Enviar" class="btn btn-primary"/>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.iidTipoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>Operaciones</th>
            
            </tr>
            <tr>
                <th>
                    @if(IidTipoUsuario != 0){
                        <input type="number" name="iidTipoUsuario" class="form-check form-control" value="@IidTipoUsuario"/>
                    }
                    else
                    {
                        <input type="number" name="iidTipoUsuario" class="form-check form-control"/>
                    }
                </th>
                <th>
                    <input type="text" name="nombre" class="form-check form-control" value="@nombre"/>
                </th>
                <th>
                    <input type="text" name="descripcion" class="form-check form-control" value="@descripcion"/>
                </th>
                <th></th>
           
            </tr>
        </thead>
        <tbody>
    
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.iidTipoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <th>
                    <i class="fas fa-trash-alt btn btn-danger mouse-Pointer" onclick="EliminarTipoUsuario(@item.iidTipoUsuario)">
                    </i>
                </th>
            </tr>
    }
        </tbody>
    </table>
    </form>

    <form asp-action="Eliminar" asp-controller="TipoUsuario" method="post" id="frmEliminarTipoUsuario">
        <input type="hidden" name="iidTipoUsuario" id="txtIdTipoUsuario"/>
    </form>
    


    <script src="~/js/generic.js"></script>
    <script src="~/js/sweetAlert.js"></script>

    <script type="text/javascript">

        function EliminarTipoUsuario(iidTipoUsuario)
        {
            document.getElementById("txtIdTipoUsuario").value = iidTipoUsuario;

            mostrarModal()
            .then(res=> {

                if(res.value)
                {
                    var frmEliminar = document.getElementById("frmEliminarTipoUsuario");
                    frmEliminar.submit();
                }
            })
        }
    </script>

  