@model IEnumerable<MiPrimeraAplicacionEnNetCore.Clases.MedicamentosCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaForma = ViewBag.listaForma;
}

<a class="btn btn-primary" asp-action="Agregar" asp-controller="Medicamento">Agregar</a>

<form style="display:grid; grid-template-columns:1fr 2fr" class="mb-2" id="frmEnviar">
    <label>Ingrese el nombre de la forma farmaceutica</label>
    @Html.DropDownList("iidFormaFarmaceutica", listaForma, new { @class="form form-control"})

</form>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreFormaFarmaceutica)
            </th>
            <th>
                Operaciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreFormaFarmaceutica)
            </td>
            <td>
                 <i class="fas fa-trash-alt btn btn-danger mouse-Pointer" onclick="EliminarMedicamento(@item.iidMedicamento)">
                </i>
                <a class="fas fa-edit btn btn-primary mouse-Pointer" aria-hidden="true" asp-controller="Medicamento" asp-action="Editar" asp-route-id="@item.iidMedicamento">
                </a>
            </td>
            
        </tr>
}
    </tbody>
</table>

<script>
    var iidFormaFarmaceutica = document.getElementById("iidFormaFarmaceutica");
    iidFOrmaFarmaceutica.onchange = function() {
        document.getElementById("frmEnviar").submit();
    }
</script>
