@model IEnumerable<MiPrimeraAplicacionEnNetCore.Clases.MedicamentosCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaForma = ViewBag.listaForma;
}

<form style="display:grid; grid-template-columns:1fr 2fr" class="mb-2" id="frmEnviar">
    <label>Ingrese el nombre de la forma farmaceutica</label>
    @Html.DropDownList("iidFOrmaFarmaceutica", listaForma, new { @class="form form-control"})

</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreFormaFarmaceutica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreFormaFarmaceutica)
            </td>
            
        </tr>
}
    </tbody>
</table>

<script>
    var iidFOrmaFarmaceutica = document.getElementById("iidFOrmaFarmaceutica");
    iidFOrmaFarmaceutica.onchange = function() {
        document.getElementById("frmEnviar").submit();
    }
</script>
