@model IEnumerable<MiPrimeraAplicacionEnNetCore.Clases.SedeCLS>

@{
    ViewData["Title"] = "Index";
    string nombreSede = ViewBag.nombreSede;
}

<form id="frmEnviar" asp-controller="Sede" asp-action="Index" class="mb-2" method="post">
    <label>Ingrese nombre sede</label>
    <input type="text" class="form-check form-control" name="nombreSede" onkeyup="Buscar()" value="@nombreSede"/>
</form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                Operaciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                <i class="fas fa-trash-alt btn btn-danger mouse-Pointer" onclick="EliminarSede(@item.iidSede)">
                    </i>
            </td>
            
        </tr>
}
    </tbody>
</table>
<form asp-action="Eliminar" asp-controller="Sede" method="post" id="frmEliminar">
    <input type="hidden" name="iidSede" id="txtIdSede"/>
</form>


<script src="~/js/generic.js"></script>
<script src="~/js/sweetAlert.js"></script>
<script>
    function Buscar() {
        document.getElementById("frmEnviar").submit();
    }

    function EliminarSede(iidSede)
    {
        document.getElementById("txtIdSede").value = iidSede;

        mostrarModal("Eliminar Sede", "Desea eliminar?")
        .then(res=> {
            if(res.value)
            {
                var frmEnviarEliminar = document.getElementById("frmEliminar");
                frmEnviarEliminar.submit();
            }
        })
    }
</script>