@using MiPrimeraAplicacionEnNetCore.Clases;
@model IEnumerable<PaginaCLS>;
@{
    ViewData["Title"] = "Index";

    string mensaje = ViewBag.mensaje;
}

<form asp-controller="Pagina" asp-action="Index" class="mb-2" id="frmFormulario" method="post" >
    <label>Ingrese el mensaje:</label>
    <input id="txtMensaje" value="@mensaje" type="text" name="mensaje" class="form-check form-control"/>
    <input id="btnBuscar" type="submit" value="Buscar" class="btn btn-info"/>
    <input id="btnLimpiar" type="button" value="Limpiar" onclick="LimpiarCampos()" class="btn alert-danger"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.iidPagina)</th>
            <th>@Html.DisplayNameFor(model => model.mensaje)</th>
            <th>@Html.DisplayNameFor(model => model.accion)</th>
            <th>@Html.DisplayNameFor(model => model.controller)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PaginaCLS pagina in Model)
        {
            <tr>
                <td>@pagina.iidPagina</td>
                <td>@pagina.mensaje</td>
                <td>@pagina.accion</td>
                <td>@pagina.controller</td>
            </tr>
        }
    </tbody>
</table>

<script>
    function LimpiarCampos()
    {
        document.getElementById('txtMensaje').value = '';
        document.getElementById('frmFormulario').submit();
    }
</script>



