@using MiPrimeraAplicacionEnNetCore.Clases;
@model IEnumerable<EspecialidadCLS>
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.iidespecialidad)</th>
            <th>@Html.DisplayNameFor(model=>model.nombre)</th>
            <th>@Html.DisplayNameFor(model=>model.description)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(EspecialidadCLS oEspecialidad in Model)
            {
            <tr>
                <td>@oEspecialidad.iidespecialidad</td>
                <td>@oEspecialidad.nombre</td>
                <td>@oEspecialidad.description</td>
            </tr>
            }
    </tbody>
</table>

